Source: indicator-printers
Section: gnome
Priority: extra
Maintainer: Ubuntu Desktop Team <ubuntu-desktop@lists.ubuntu.com>
Build-Depends:
 cmake,
 cmake-extras (>= 0.10),
 debhelper (>= 9),
 dbus,
 dh-translations,
 googletest | google-mock,
 intltool,
 lcov,
 libcups2-dev,
 libglib2.0-dev (>= 2.35.4),
 libproperties-cpp-dev,
 systemd,
Standards-Version: 3.9.6
Homepage: https://launchpad.net/indicator-printers
Vcs-Bzr: lp:indicator-printers
X-Ubuntu-Use-Langpack: yes

Package: indicator-printers
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         cups (>= 1.5),
         indicator-common,
Recommends: indicator-applet (>= 0.2) | indicator-renderer,
Description: indicator showing active print jobs
 This indicator is designed to let you view and control active print jobs.
 .
 It requires some way to be hosted into a panel.  Either Unity or an indicator
 plugin for your desktop environment.
